<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticket_Management_System.My.MySettings.HMS_DBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin\Debug\HMS_DB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.oledb"/>
        <add name="Ticket_Management_System.My.MySettings.HMS_DBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\HMS_DB.accdb;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.oledb"/>
        <add name="Ticket_Management_System.My.MySettings.HMS_DBConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\HMS_DB.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
